.App {
  text-align: center;
}

.charity img{
  max-width: 50%;
}
body{
  background-color: blueviolet;
  background-size: local;
  margin: 0;
}
header{
  background-color:coral;
  display: flex;
  justify-content: flex-end;
}
body .charity_page{
  background-color: aqua;
}
body .animal_page{
  background-image: url(https://i.imgur.com/C9DX5lY.jpeg);
  background-size: 100%;
}
button{
  border-radius: 12%;
  margin: 0 auto;
  padding: auto;
  height: 50px;
  width: 90px;
  background-color:darkblue;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: crimson;
  font-size: large;
  font-style:italic;
  font-weight: 1000;
}
.animal_pics{
    max-width: 30%;
    min-width: 30%;
    max-height: 30%;
    min-height: 30%;
    border-radius: 15%;
}
form{
  display: grid;
  max-width: 250px;
  justify-content: center;
  margin: 0 auto;
}